<h1>英訳した文章を要約しよう！</h1>

<% if @summary.errors.any? %>
  <%= message %>
<% end %>

<%= form_with(model: @summary, local: true) do |form| %>
  <div class="en_form">
    <div class="ja_text">
      <%= @en_diary %>
    </div>
    <%= form.text_area :body, class: "en_text_area", required: true %>
  </div>

  <div>
    <%= form.hidden_field :ja_diary, value: @ja_diary %>
  </div>
  <div>
    <%= form.hidden_field :en_diary, value: @en_diary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>