<% if @current_user %>
  <%= link_to 'マイページ', mypage_path, data: {"turbolinks" => false} %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
  <%= link_to '登録', new_user_path %>
  <%= link_to 'ログイン', users_login_path %>
<% end %>

<div class="good">GOOD!!!</div>
<div class="bad">BAD!!!</div>
 
<h1>Sample</h1>

<%= render 'new_sample' %>

<%= render 'index_sample' %>

<%= render 'edit_sample' %>


<h1><%= link_to "日記を書く", new_summary_path, data: {"turbolinks" => false} %></h1>












