<h1>Sample</h1>

<!-- newのsample -->
<h4>
  1番目の本で日記を作成したら、日記を作成ボタンを押してください。
  <br>2番目の本に表示されます。
  <br>日記を編集ボタンを押すと、3番目の本で編集できます。
  <br>日記を保存ボタンを押すと、2番目の本に表示されます。
</h4>
<div class="form">
  <div class="explanation">
    <div class="text_image">
      <p class="summary_time">
        日記の書き方
      </p>
      <p class="explanation_body">
        まず日本語で日記を書きます。
        <br>それを次のページでそのまま英訳します。
        <br>そして最後に英訳した文章を英語で要約します。
        <br>日記を作成ボタンを押します。
        </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>
  </div>

  <div id="new_page_turn">

    <div class="text_image">
      <p class="summary_time">
        日記を日本語で書こう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space js_realtime_ja_diary new_sample_ja" required maxlength="800">
サンプル
私は今日ジブリの映画を4本見ました。
１つ目は、もののけ姫、２つ目は、コクリコ坂から、３つ目は、風の谷のナウシカ、４つ目は、耳をすませばです。どれも言うまでもなく最高ですね。ジブリは日本の宝ですね。
      </textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        日本語で書いた日記
      </p>
      <p class="summary_body js_realtime_ja">
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        日本語で書いた日記を英訳しよう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space js_realtime_en_diary new_sample_en" required maxlength="1200">
          sample
I watched 4 Ghibli movies today.
The first is Princess Mononoke, the second is From Up on Poppy Hill, the third is Nausicaa of the Valley of the Wind, and the fourth is Whisper Of The Heart. Needless to say, they are all the best. Ghibli is a Japanese treasure.
        </textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        英訳した文章
      </p>
      <p class="summary_body js_realtime_en">
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        英訳した日記を要約しよう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space sample_summary new_sample_summary" required maxlength="800">
          sample
I saw Ghibli today. Ghibli is really interesting to see at any time.
I think it's really a Japanese treasure.
        </textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_body">
        わっしょーーーーーーーーーーーーい
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>
  </div>
</div>
<input type="submit" class="sample_submit" value="日記を作成">

<!-- newのexplanationみたいにして、ここに上で入力された情報を表示する -->
<div class="form">

  <div id="page_turn">
    <div class="text_image">
      <p class="summary_time js_realtime_nowtime">

      </p>
      <p class="summary_body js_realtime_summary">

      </p>
      <%= image_tag 'diary_page.png', class: "img" %>
    </div>
    <% @summaries.each_with_index do |summary, num| %>
      <% if summary.body.length > 700 %>
            <div class="text_image">
              <p class="summary_time">
                <%= link_to summary.created_at.to_s(:datetime_jp), "", data: {"turbolinks" => false} %>
              </p>
              <p class="summary_body">
                <%= summary.body.match(/(.{700}\S*)/)[0] %>
              </p>
              <%= image_tag 'diary_page.png', class: "img" %>
            </div>

            <div class="text_image">
              <p class="summary_body">
                <%= summary.body[summary.body.match(/(.{700}\S*)/)[0].to_i + 1..] %>
              </p>
              <%= image_tag 'diary_page.png', class: "img" %>
            </div>
      <% else %>

        <div class="text_image">
          <p class="summary_time">
            <%= link_to summary.created_at.to_s(:datetime_jp), "", data: {"turbolinks" => false} %>
          </p>
          <p class="summary_body">
            <%= summary.body %>
          </p>
          <%= image_tag 'diary_page.png', class: "img" %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<ul class="page-ul">
  <li>
    <span id="nextpage">前のページ</span>
  </li>
  <li>
    <span id="prevpage">次のページ</span>
  </li>
  <li>
    <span id="more_nextpage">さらに前のページ</span>
  </li>
  <li>
    <span id="more_prevpage">さらに次のページ</span>
  </li>
</ul>

<input type="submit" class="sample_edit_submit" value="日記を編集">

<!-- edit -->

<div class="ja_form">
  <div id="edit_page_turn">
    <div class="text_image">
      <p class="summary_time">
        日記を日本語で書こう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space js_realtime_ja_diary edit_sample_ja" required></textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        日本語で書いた日記
      </p>
      <p class="summary_body edit_sample_ja_text">
<!-- javascriptでリアルタイムに表示 -->
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        日本語で書いた日記を英訳しよう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space js_realtime_ja_diary edit_sample_en" required></textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        英訳した文章
      </p>
      <p class="summary_body edit_sample_en_text">
<!-- javascriptでリアルタイムに表示 -->
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_time">
        英訳した日記を要約しよう！
      </p>
      <p class="summary_body">
        <textarea class="edit_form space js_realtime_ja_diary edit_sample_summary" required></textarea>
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>

    <div class="text_image">
      <p class="summary_body">
        わしゃわしゃわしゃわしゃわしゃーーーーーーーーーーーーーーい
      </p>
      <%= image_tag 'diary_page.png', class: "edit_img" %>
    </div>
  </div>
</div>

<input type="submit" class="sample_edit_submit_save" value="日記を保存">


<h1><%= link_to "日記を書く", new_summary_path, data: {"turbolinks" => false} %></h1>





















