<h1>ログイン</h1>

<%= render 'shared/error_messages' %>

<%= form_for(:session, method: :post, url: login_path) do |form| %>
  <div>
    <%= form.label :name, 'ユーザー名' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit 'ログイン' %>
  </div>
<% end %>