<body id="login">

  <%= render 'shared/error_messages' %>

  <%= form_for(:session, method: :post, url: login_path, html: {class: "login_form"}) do |form| %>
    <!-- <div class="title">ログイン</div> -->
    
    <h1 class="title">Login</h1>

    <div>
      <%= form.text_field :name, placeholder: "User Name" %>
    </div>

    <div>
      <%= form.password_field :password, placeholder: "Password"%>
    </div>

    <div>
      <%= form.submit 'Login', class: "login_button" %>
    </div>

    <div class="change_signup">
      <%= link_to 'Sign Up', new_user_path %>
    </div>
  <% end %>

</body>