<body id="login">
  <%= render 'shared/error_messages' %>

  <%= form_with(model: @user, local: true, html: {class: "login_form"}) do |form| %>
    <h1 class="title">Sign Up</h1>
    <div>
      <%= form.text_field :name, placeholder: "User Name" %>
    </div>

    <div>
      <%= form.password_field :password, placeholder: "Password" %>
    </div>

    <div>
      <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    </div>

    <%= form.submit 'Sign Up' %>
  <% end %>
</body>