<!DOCTYPE html>
<html>
  <head>
    <title>EnglishDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>  
    <% if @current_user %>
      <%= link_to 'マイページ', mypage_path %>
      <%= link_to 'ログアウト', logout_path, method: :delete %>
    <% else %>
      <%= link_to '登録', new_user_path %>
      <%= link_to 'ログイン', users_login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
